*{
    margin: 0;
    padding: 0;
    /* border: solid black; */
}
body{
    background:
    linear-gradient(
      rgba(0, 0, 0, 0.7), 
      rgba(0, 0, 0, 0.7)
    ),
    url(image/background.png);
    background-size: cover;
    height: 100vh;
}
h1{
    font-family: 'Pacifico', cursive;
    font-weight: 400;
    font-size: 50px;
    letter-spacing: 3px;
}
.text-1, p{
 color: white;
}
.text-2{
    color: #FCB371;
}
button .btn-item{
    background-color:#F58634;
}
button{
    background-color: #FCB371;
}